.desktop {
  max-width: 1360px;
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
}

.tablet {
  max-width: fit-content;
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}

.phone {
  margin: 1.5rem 0;
  display: flex;
  flex-flow: column nowrap;
  gap: 1.5rem;
}

.column {
  display: flex;
  flex-flow: column nowrap;
  gap: 2.5rem;
}
